:root{
    --vermelho:
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; boder: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header{
   position: fixed;
   top:0; left:0;right:0;
   background: #FFF
   padding: 2rem 9%;
   display: flex;
   aling_items: center;
   justify-contet: space-between;
   z-index: 1000;
   box-shadow: 0 .5rem 1 rem rgbas(0,0,0,1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    fonte-weight; bolder
}

header .logo span(
     color: var: m(--red);
}

header .navbar a{
     font-size: 2rem;
     padding: 0 1.5rem;
     color: # 666
}

header .navbar a:houver {
    color:var(--vermelho);
}